<div class="container-fluid no-padding text-left">

	<div class="container">
		<div>
			<h3>About Us</h3>
		</div>
		<div class="about-us-text">Iotasol since its beginning has been
			committed to deliver services that goes extra mile in all aspects. We
			cater to diversified nature &amp; culture of growing businesses.
			Iotasol has proven processes of software development, which enhance
			overall experience of Application usage and development. We believe
			to enhance business capabilities and work experience of our customers
			by introducing revolutionary and innovative business ideas during
			Software development. We inculcate the latest methodologies and
			technologies in our processes and Software Development Life Cycle
			stages. We have strong technical team which is customer oriented and
			believe in bringing values to team and customer at every phase of
			development. We strive to build long term business relationships with
			our esteemed clients. We have worked in varied domains with global
			clients which helped us building a strong foundation of Software
			Development Techniques. We believe to be Right First Time and
			reducing turnaround time of our customers, this helps in reducing
			overall cost of software development and maintainence for our
			Customers. Our team has effective communication skills which helps in
			better mapping of requirements to end solution. We look forward to
			serve you with best of our capabilities.</div>
	</div>
</div>