<div class="col-md-4 login-form-inner-container">
	<div class="user-log-name-container">
		<div class="image-containor">
			<img class="image-circle"
				src="http://lorempixel.com/output/people-q-c-100-100-1.jpg">
		</div>
		<h1>Hi Guest</h1>
	</div>
	<div class="form-signin-container">
		<h4>Sign In</h4>
		<form class="form-signin" name="formSignin">
			<div class="margin-top-10">
				<input type="text" placeholder="Enter User Name"
					class="form-control" data-ng-model="username" required="required" />
			</div>
			<div class="margin-top-10">
				<input type="password" placeholder="Enter Password"
					class="form-control" data-ng-model="password" required="required" />
			</div>
			<div class="margin-top-20">
				<button class="btn btn-default custom-login-btn"
					data-ng-click="loginFunction(formSignin.$valid);">Login In
					Account</button>
			</div>
			<div class="col-md-12 no-padding margin-top-10" data-ng-if="isError">
				<div
					class="alert alert-danger padding-5 no-margin-bottom text-center">
					{{data}}</div>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
	<div class="clearfix"></div>
</div>